.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-action {
    width: 65px;
    background: white;
    color: black;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    hright: 30px
}

.timer {
    padding-top: 10px;
    font-size: 24px;
}

#main-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card-element {
    background: forestgreen;
    display: inline-block;
    border: 3px solid white;
    box-sizing: border-box;
}